@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sams-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

html, body{
    height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    min-height: 400px;
}


header{
    background-color: black;
    color: white;
    text-align: center;

} 

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration-line: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.823);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-attachment: fixed;
}
section.imagem pre{
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.576);
    text-shadow: 1px 1px 0px black;
    background-size: cover;
}

#img01{
    background-image: url(background001.jpg);
    background-position: right center;
    
}

#img02{
    background-image: url(background002.jpg);
    
}

pre{
    white-space: pre-line;
    font-family: var(--fonte3);
    font-size: 3.5vh;
    
}

section pre{
    padding-bottom: 1.5em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;}